
@model ViewModelProfile;

@{
    ViewData["Title"] = "Profile";
}
<h1 class="profile">Profile</h1>

<!-- Currently just displaying some basic info for testing purposes. -->
<div class="profile-container d-sm-flex flex-column">
    <div class="summoner-container neu-shadow d-flex flex-column">
        <div class="summoner-top d-flex">
            <div class="summoner-icon overflow-hidden">
                <img id="icon" src="~/img/profileicon/@(Model.Summoner.ProfileIconId).png" />
            </div>
            <div class="summoner-name">
            
                @Model.Summoner.Name
            </div>
        </div>
        <div class="level-info d-flex">
            <div class="level-left">
                <span>Level</span>
            </div>
            <div class="level-right">
                Level: @Model.Summoner.SummonerLevel
            </div>
        </div>
        <div class="summoner-kda d-flex">
            <div class="summoner-kda-left">
                KDA
            </div>
            <div class="summoner-kda-right">
                @Model.Summoner.KDA.ToString("F")
            </div>
        </div>

    </div>
    <div class="masteries align-self-center mb-2"><h1>Top Champions by Mastery</h1></div>
    <div class="mastery-card-container d-md-inline-flex align-items-end">
        @foreach (KeyValuePair<string, Champion> champ in Model.Info.Champions)
        {
            <div class="mastery-card @((champ.Value.Rank == 1) ? "order-0" : "order-1") d-flex flex-column neu-shadow @((champ.Value.Rank == 0) ? "rank-1" : "")">
                <div class="mastery-card-header d-inline-flex p-0">
                    <div class="mastery-card-level"><h1>@(champ.Value.Rank+1)</h1></div>
                    <div class="mastery-card-name"><h2 class="align-self-center">@champ.Key</h2></div>
                </div>
                <div class="mastery-card-image p-0 overflow-hidden">
                    <img src="~/img/champion/splash/@(champ.Key)_0.jpg" />
                </div>
            </div>
        }
    </div>

    <div class="matches mt-4">
        <h1>Match History</h1>
        @foreach (Matches match in Model.Matchlist.Matches)
        {

            <div class="match d-flex mt-5">
                <div class="match-summoner d-flex flex-column">
                    @{string summonerChamp;
                        int summonerKills, summonerAssists, summonerDeaths;
                        foreach (PlayerInfoDB p in match.MatchDB.PlayerInfos)
                        {
                            if (p.SummonerName == Model.Summoner.Name)
                            {
                                summonerChamp = Model.ChampionIDs[p.ChampionID];
                                summonerKills = p.Kills;
                                summonerAssists = p.Assists;
                                summonerDeaths = p.Deaths;
                                float summonerKDA = (summonerKills + summonerAssists) / (float)Math.Max(summonerDeaths, 1);
                                float kdaDiff = summonerKDA - Model.Summoner.KDA;
                                        <div class="summoner-match-header d-inline-flex">
                                            <div class="match-summoner-champ">
                                                <img src="~/img/champion/tiles/@(summonerChamp)_0.jpg" />
                                            </div>
                                            <div class="header-right d-flex flex-column">
                                                <div class="game-mode">
                                                    <span>@match.MatchDB.GameMode</span>
                                                </div>
                                                <div class="kda">
                                                    <span>@summonerKills / @summonerDeaths / @summonerAssists</span>
                                                    
                                                </div>
                                                <div class="kda">
                                                    KDA: @summonerKDA.ToString("F") (<span style="color:@((kdaDiff >= 0) ? "#BDf9B3" : "#FDAFAF")">@((kdaDiff > 0) ? "+" : "")@kdaDiff.ToString("F")</span>)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="match-sum-stats d-flex flex-column">
                                            <div class="stat victory-@((p.Win == true) ? "w":"d")">
                                                <span>@((p.Win == true) ? "Victory" : "Defeat")</span>
                                            </div>
                                            <div class="stat d-inline-flex">
                                                <div class="s-left">
                                                    Gold
                                                </div>
                                                <div class="s-right">
                                                    @p.GoldEarned
                                                </div>
                                            </div>
                                            <div class="stat d-inline-flex">
                                                <div class="s-left">
                                                    Damage
                                                </div>
                                                <div class="s-right">
                                                    @p.TotalDamageDealtToChampions
                                                </div>
                                            </div>
                                            <div class="stat d-inline-flex">
                                                <div class="s-left">
                                                    CS
                                                </div>
                                                <div class="s-right">
                                                    @p.TotalMinionsKilled
                                                </div>
                                            </div>
                                            <div class="stat d-inline-flex">
                                                <div class="s-left">
                                                    Wards
                                                </div>
                                                <div class="s-right">
                                                    @p.WardsPlaced
                                                </div>
                                            </div>
                                        </div>
                            }
                        }
                    }

                </div>
                @{ var team1 = match.MatchDB.Teams.ToList()[0]; }
                <div class="team1 @((team1.Win == "Win") ? "win" : "lose")">
                    <div class="outcome pt-2"><h1>@((team1.Win == "Win") ? "Win" : "Lose")</h1></div>
                    <div class="participants d-flex flex-column">
                        @for (int i = 0; i < 5; i++)
                        {
                            PlayerInfoDB player = match.MatchDB.PlayerInfos[i];
                            string playerChamp = Model.ChampionIDs[player.ChampionID];
                            <div class="participant d-flex flex-row-reverse">
                                <div class="player-champ-img d-flex">
                                    <img src="~/img/champion/tiles/@(playerChamp)_0.jpg" />
                                </div>
                                <div class="player-name text-right">
                                    @Html.ActionLink(player.SummonerName, "Profile", new FindModel { Name = player.SummonerName, Region = Model.Summoner.Region })
                                    <!-- @player.SummonerName -->
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="team2 @((match.MatchDB.Teams.ToList()[1].Win == "Win") ? "win" : "lose")">
                    <div class="outcome"><h1>@((match.MatchDB.Teams.ToList()[1].Win == "Win") ? "Win" : "Lose")</h1></div>
                    <div class="participants d-flex flex-column">
                        @for (int i = 5; i < 10; i++)
                        {
                            PlayerInfoDB player = match.MatchDB.PlayerInfos[i];
                            string playerChamp = Model.ChampionIDs[player.ChampionID];
                            <div class="participant d-flex">
                                <div class="player-champ-img d-flex">
                                    <img src="~/img/champion/tiles/@(playerChamp)_0.jpg" />
                                </div>
                                <div class="player-name">
                                    @Html.ActionLink(player.SummonerName, "Profile", new FindModel { Name = player.SummonerName, Region = Model.Summoner.Region })
                                    <!-- @player.SummonerName -->
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="align-self-center" asp-action="ShowMore"><input class="more-btn" type="button" value="Show More..." /></a>
</div>